[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = git@github.com:victormamede/awesome-wm-widgets.git
[submodule "lib/bling"]
	path = lib/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "lib/rubato"]
	path = lib/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule "lib/scratch"]
	path = lib/scratch
	url = https://github.com/notnew/awesome-scratch.git
